<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>The Engineering Science Club is your friendly neighbourhood discipline club.</h1>
        {{/base-card}}
    </div>

    <div class="half col left">
        {{#base-card tagName="section"}}
            <h2><i class="icon-group icon-fixed-width"></i>Who are we?</h2>
            <p>
                EngSci Club is one of the several engineering discipline clubs representing Engineering
                Science students. Think of us as a <em>mini</em> student body, in-between EngSci students
                and the <a href="http://skule.ca" target="_blank">Engineering Society</a>.
            </p>
            <h3>Team</h3>
            <p>
                The team is comprised of five executives, four class reps and the EngSci Board of Directors
                representative. Say hi to any one of us when you see us around. We promise we won't bite!
            </p>
            <div class="people">
                {{person-box position="Chair" name="Amanda Aleong" }}
                {{person-box position="Vice-Chair" name="Brian To" }}
                {{person-box position="Student Life" name="Kenny Kim" }}
                {{person-box position="Finance" name="Sean Hsieh" }}
                {{person-box position="Communications" name="Judy Shen" }}
                {{person-box position="1st Year Class Rep" name="Imad Abdulkadir"}}
                {{person-box position="2nd Year Class Rep" name="Balthazar Crane"}}
                {{person-box position="3rd Year Class Rep" name="TBD" }}
                {{person-box position="4th Year Class Rep" name="TBD" }}
                {{person-box position="EngSci BoD Rep" name="Ashkan Parcham-Kashani"}}
                <div class="clear"></div>
            </div>
            <h3>Project Directors</h3>
            <p>
                In addition, there are a couple project directors each year. They are listed here below.
            </p>
            <div class="people">
                {{person-box position="Dinner Dance Co-Director" name="Deniz Jafari" }}
                {{person-box position="Dinner Dance Co-Director" name="Sayeh Bayat" }}
                {{person-box position="Dinner Dance Movie Director" name="Kevin Zhu" }}
                {{person-box position="Webmaster" name="Barry Fung" }}
                {{person-box position="Nocturne Director" name="Danny Zhang" }}
                <div class="clear"></div>
            </div>
        {{/base-card}}
    </div>

    <div class="half col right">
        {{#base-card tagName="section"}}
            <h2><i class="icon-map-marker icon-fixed-width"></i>Where are we located?</h2>
            <p>
                Come find us in the Engineering Science Club office! It's located
                inside the Common Room, beside the television. Most of the execs can
                commonly be found in the Common Room throughout the day.
            </p>
        {{/base-card}}
        {{#base-card tagName="section"}}
            <h2><i class="icon-check icon-fixed-width"></i>What do we do?</h2>
            <p>
                EngSci Club does a couple things to make your experience at EngSci just a little bit better.
                We run several {{#link-to "events"}}events{{/link-to}} throughout the year, including:
            </p>
            <ul>
                <li>{{#link-to "events.dance"}}The Annual Engineering Science Dinner Dance{{/link-to}}</li>
                <li>{{#link-to "events.nocturne"}}Nocturne, The Engineering Science Coffee House{{/link-to}}</li>
                <li>The Fall and Winter Book Smokers</li>
                {{!--<li>{{#link-to "events.nocturne"}}Nocturne, The Engineering Science Coffee House{{/link-to}}</li>--}}
                {{!--<li>{{#link-to "events.smoker"}}The Fall and Winter Book Smokers{{/link-to}}</li>--}}
                {{!--<li>{{#link-to "events.foosball"}}The Foosball Ladder{{/link-to}}</li>--}}
                {{!--<li>{{#link-to "events.smash"}}The Smash Bros Ladder{{/link-to}}</li>--}}
                <li>{{#link-to "events.socials"}}Games and Movie Nights{{/link-to}}</li>
            </ul>
            <p>
                We are also your point of contact between you and the Engineering Science division in terms of
                academic problems, taking part in deciding which projects the
                <a href="http://skule.ca/skule-academic-levy-fund">Academic Levy Fund</a> goes towards.
            </p>
            <p>
                Lastly we provide various other services and utilities such as the pop machine in the
                Common Room, the microwaves, selling you EngSci t-shirts, patches and other
                {{#link-to "merchandise"}}merchandise{{/link-to}}.
            </p>
        {{/base-card}}
        {{#base-card tagName="section"}}
            <h2><i class="icon-phone icon-fixed-width"></i>Contact us!</h2>
            <p>
                Have any questions or concerns? Email us at
                <a href="mailto:engsci@skule.ca" target="_blank">engsci@skule.ca</a> or
                head to the {{#link-to "suggestions"}}suggestions{{/link-to}} page.
            </p>
            <p>
                The Engineering Science Club's official address is: <br>
                <b>
                    40 St. George, Room 2110, <br>
                    Toronto, ON, M5S 2E4, Canada
                </b>
            </p>
            <p>
                You can also reach out to us on: <br>
                <span class="social-icons">
                    <a href="http://facebook.com/engsciclub" target="_blank"><i class="icon-facebook-sign"></i></a>
                    <a href="http://twitter.com/engsciclub" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="http://github.com/engsciclub" target="_blank"><i class="icon-github"></i></a>
                </span>
            </p>
        {{/base-card}}
    </div>
</div>

