<div class="container">
    <div class="content">
        <div class="row">
            {{#view "App.FullHeightView" classNameBindings=":side :col sidebarExpanded:expanded"}}
                {{#link-to "index"}}<div class="logo"></div>{{/link-to}}
                <h1>{{#link-to "index"}}EngSci Club{{/link-to}}</h1>
                <nav>
                    {{nav-bar routes=App.routes
                              currentPath=currentPath
                              expandable=true
                              expanded=true
                              class="primary"
                              action="selectRoute"}}
                </nav>
                <footer>
                    <p>
                        Brought to you by your friendly local discipline club.
                    </p>
                    <p>
                        Key contributors:
                        <a href="http://twitter.com/og">@og</a>,
                        <a href="http://twitter.com/amandeep">@amandeep</a>.
                        <a href="http://github.com/barryklfung/">@barryklfung</a>
                        <a href="http://github.com/engsciclub/website">Contribute.</a>
                    </p>
                </footer>
            {{/view}}

            {{#view "App.FullHeightView" classNameBindings=":main :col sidebarExpanded:expanded"}}
                <header>
                    <h1>
                        {{#each route in routeHierarchy}}
                            <span class="breakable">{{route.name}} //</span>
                        {{/each}}
                    </h1>
                </header>

                {{outlet}}
            {{/view}}

            <button {{bind-attr class=":side-toggler sidebarExpanded:expanded"}} {{action toggleSidebar}}>
                <i class="icon-reorder"></i>
            </button>
        </div>
    </div>
</div>
