<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Registration</h1>
        {{/base-card}}
    </div>
    <div class="full col">
        {{#base-card tagName="section"}}
            <h2>Sign Up for the Foosball Ladder!</h2>
            <p> Registration began on: <strong>February 22, 2015</strong> </p>
            <form class="centered">
                <label {{bind-attr for="view.name.elementId"}}>Player's Name</label>
                {{input value=model.name class=model.errors.name.css type="text" placeholder="Jane Doe" viewName="name"}}

                <label {{bind-attr for="view.username.elementId"}}>Player's Username</label>
                {{input value=model.username class=model.errors.username.css type="text" placeholder="JDoe_123" viewName="username"}}

                <label {{bind-attr for="view.email.elementId"}}>Players's email (UToronto)</label>
                {{input value=model.email class=model.errors.email.css type="text" placeholder="someone@mail.utoronto.ca" viewName="email"}}

                <label {{bind-attr for="view.password.elementId"}}>Password</label>
                {{input value=model.password class=model.errors.password.css type="password" placeholder="password" viewName="password"}}
								
				<label {{bind-attr for="view.password_confirmation.elementId"}}>Confirm Password </label>
                {{input value=model.password_confirmation class=model.errors.passwordConfirmation.css type="password" placeholder="confirmation" viewName="password_confirmation"}}
								
                <div class="button-wrapper">
                    <button {{action ladderUserActivate}} type="submit" {{bind-attr class=":primary formButtonLoading:loading"}}>
                            Register
                    </button>
                </div>
                <div {{bind-attr class=":info-wrapper info.visible:active"}}>
                    <div {{bind-attr class=":info info.good:good info.error:error"}}>
                        {{#if info.good}}
                            <h3>You successfully registered the username {{oldModel.username}}!</h3>
                            <p>
                                Make sure you keep your username and password on hand - you'll need them to submit your matches. <br />
                            </p>
                        {{/if}}

                        {{#if info.error}}
                            <h3>Oops, something went wrong!</h3>
                            <p>
                                Check the above fields highlighted in red. The server indicated that
                                there were errors with the submitted information:
                            </p>
                            <ul>
                                {{#if model.errors.name}}
                                    <li>{{model.errors.name.message}}</li>
                                {{/if}}
                                {{#if model.errors.username}}
                                    <li>{{model.errors.username.message}}</li>
                                {{/if}}
                                {{#if model.errors.email}}
                                    <li>{{model.errors.email.message}}</li>
                                {{/if}}
                                {{#if model.errors.password}}
                                    <li>{{model.errors.password.message}}</li>
                                {{/if}}
                                {{#if model.errors.passwordConfirmation}}
                                    <li>{{model.errors.passwordConfirmation.message}}</li>
                                {{/if}}
                            </ul>
                            <p>
                                If the error persists, contact the Webmaster at <a href="mailto:engsci.website+ladder@gmail.com"> 
                                engsci.website+ladder@gmail.com</a>
                            </p>
                        {{/if}}
                    </div>
                </div>
            </form>
        {{/base-card}}
    </div>
</div>
